In [1]:
import pandas as pd
import numpy as np
import string
from sklearn.preprocessing import StandardScaler

In [5]:
df = pd.read_csv('Sample - Superstore.csv', encoding='latin1')

print(df.head())
print(df.info())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

# Step 2: Standardize Text Columns

In [8]:
text_cols = ['Ship Mode', 'Customer ID', 'Customer Name',
             'Segment', 'Country', 'City', 'State',
             'Region', 'Category', 'Sub-Category', 'Product Name']

for col in text_cols:
    df[col] = df[col].astype(str).str.lower().str.strip()
    df[col] = df[col].str.replace(f"[{string.punctuation}]", "", regex=True)

In [10]:
print(df[text_cols].head(10))

        Ship Mode Customer ID    Customer Name    Segment        Country  \
0    second class     cg12520      claire gute   consumer  united states
1    second class     cg12520      claire gute   consumer  united states
2    second class     dv13045  darrin van huff  corporate  united states
3  standard class     so20335    sean odonnell   consumer  united states
4  standard class     so20335    sean odonnell   consumer  united states
5  standard class     bh11710  brosina hoffman   consumer  united states
6  standard class     bh11710  brosina hoffman   consumer  united states
7  standard class     bh11710  brosina hoffman   consumer  united states
8  standard class     bh11710  brosina hoffman   consumer  united states
9  standard class     bh11710  brosina hoffman   consumer  united states

              City       State Region         Category Sub-Category  \
0        henderson    kentucky  south        furniture    bookcases
1        henderson    kentucky  south        furniture       chairs
2      los angeles  california   west  office supplies       labels
3  fort lauderdale     florida  south        furniture       tables
4  fort lauderdale     florida  south  office supplies      storage
5      los angeles  california   west        furniture  furnishings
6      los angeles  california   west  office supplies          art
7      los angeles  california   west       technology       phones
8      los angeles  california   west  office supplies      binders
9      los angeles  california   west  office supplies   appliances

                                        Product Name
0                  bush somerset collection bookcase
1  hon deluxe fabric upholstered stacking chairs ...
2  selfadhesive address labels for typewriters by...
3      bretford cr4500 series slim rectangular table
4                      eldon fold n roll cart system
5  eldon expressions wood and plastic desk access...
6                                         newell 322
7                     mitel 5320 ip phone voip phone
8  dxl angleview binders with locking rings by sa...
9                   belkin f5c206vtel 6 outlet surge

# Step 3: Check for Duplicates

In [13]:
# Are there any duplicates across all columns?
print(df.duplicated().sum())

# Drop them if found
df = df.drop_duplicates()

0

# Step 4: Outlier Check — Sales & Profit

In [16]:
# For Sales
Q1 = df['Sales'].quantile(0.25)
Q3 = df['Sales'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"Sales Outlier bounds: {lower_bound} to {upper_bound}")

# Same for Profit
Q1_p = df['Profit'].quantile(0.25)
Q3_p = df['Profit'].quantile(0.75)
IQR_p = Q3_p - Q1_p

lower_bound_p = Q1_p - 1.5 * IQR_p
upper_bound_p = Q3_p + 1.5 * IQR_p

print(f"Profit Outlier bounds: {lower_bound_p} to {upper_bound_p}")

Sales Outlier bounds: -271.71000000000004 to 498.93
Profit Outlier bounds: -39.724125 to 70.816875

# Step 5: Optional — Feature Engineering

In [21]:
df['Profit Margin'] = np.where(df['Sales'] == 0, 0, df['Profit'] / df['Sales'])

In [23]:
print(df[['Sales', 'Profit', 'Profit Margin']].head(10))

      Sales    Profit  Profit Margin
0  261.9600   41.9136         0.1600
1  731.9400  219.5820         0.3000
2   14.6200    6.8714         0.4700
3  957.5775 -383.0310        -0.4000
4   22.3680    2.5164         0.1125
5   48.8600   14.1694         0.2900
6    7.2800    1.9656         0.2700
7  907.1520   90.7152         0.1000
8   18.5040    5.7825         0.3125
9  114.9000   34.4700         0.3000

# final check

In [26]:
print(df[df['Sales'] < 0])
print(df[df['Quantity'] < 0])

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Profit Margin]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Profit Margin]
Index: []

[0 rows x 22 columns]

In [30]:
# for discount column check 
print(df[df['Discount'] < 0])
print(df[df['Discount'] > 1])

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Profit Margin]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Profit Margin]
Index: []

[0 rows x 22 columns]

In [32]:
#Check for duplicates on business keys
print(df.duplicated(subset=['Order ID', 'Product ID']).sum())

8

In [34]:
# Find the duplicate pairs
dupes = df[df.duplicated(subset=['Order ID', 'Product ID'], keep=False)]

# Sort for easy reading
dupes = dupes.sort_values(by=['Order ID', 'Product ID'])

print(dupes)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
6498    6499  CA-2015-103135   7/24/2015   7/28/2015  standard class
6500    6501  CA-2015-103135   7/24/2015   7/28/2015  standard class
350      351  CA-2016-129714    9/1/2016    9/3/2016     first class
352      353  CA-2016-129714    9/1/2016    9/3/2016     first class
1300    1301  CA-2016-137043  12/23/2016  12/25/2016    second class
1301    1302  CA-2016-137043  12/23/2016  12/25/2016    second class
9168    9169  CA-2016-140571   3/15/2016   3/19/2016  standard class
9169    9170  CA-2016-140571   3/15/2016   3/19/2016  standard class
7881    7882  CA-2017-118017   12/3/2017   12/6/2017    second class
7882    7883  CA-2017-118017   12/3/2017   12/6/2017    second class
3183    3184  CA-2017-152912   11/9/2017  11/12/2017    second class
3184    3185  CA-2017-152912   11/9/2017  11/12/2017    second class
3405    3406  US-2014-150119   4/23/2014   4/27/2014  standard class
3406    3407  US-2014-150119   4/23/2014   4/27/2014  standard class
430      431  US-2016-123750   4/15/2016   4/21/2016  standard class
431      432  US-2016-123750   4/15/2016   4/21/2016  standard class

     Customer ID    Customer Name      Segment        Country           City  \
6498     ss20515  shirley schmidt  home office  united states     louisville
6500     ss20515  shirley schmidt  home office  united states     louisville
350      ab10060  adam bellavance  home office  united states  new york city
352      ab10060  adam bellavance  home office  united states  new york city
1300     lc17140     logan currie     consumer  united states    springfield
1301     lc17140     logan currie     consumer  united states    springfield
9168     sj20125    sanjit jacobs  home office  united states        jackson
9169     sj20125    sanjit jacobs  home office  united states        jackson
7881     lc16870    lena cacioppo     consumer  united states       thornton
7882     lc16870    lena cacioppo     consumer  united states       thornton
3183     bm11650       brian moss    corporate  united states       columbia
3184     bm11650       brian moss    corporate  united states       columbia
3405     lb16795   laurel beltran  home office  united states       columbus
3406     lb16795   laurel beltran  home office  united states       columbus
430      rb19795       ross baird  home office  united states       gastonia
431      rb19795       ross baird  home office  united states       gastonia

      ... Region       Product ID         Category Sub-Category  \
6498  ...  south  OFF-BI-10000069  office supplies      binders
6500  ...  south  OFF-BI-10000069  office supplies      binders
350   ...   east  OFF-PA-10001970  office supplies        paper
352   ...   east  OFF-PA-10001970  office supplies        paper
1300  ...  south  FUR-FU-10003664        furniture  furnishings
1301  ...  south  FUR-FU-10003664        furniture  furnishings
9168  ...  south  OFF-PA-10001954  office supplies        paper
9169  ...  south  OFF-PA-10001954  office supplies        paper
7881  ...   west  TEC-AC-10002006       technology  accessories
7882  ...   west  TEC-AC-10002006       technology  accessories
3183  ...   east  OFF-ST-10003208  office supplies      storage
3184  ...   east  OFF-ST-10003208  office supplies      storage
3405  ...   east  FUR-CH-10002965        furniture       chairs
3406  ...   east  FUR-CH-10002965        furniture       chairs
430   ...  south  TEC-AC-10004659       technology  accessories
431   ...  south  TEC-AC-10004659       technology  accessories

                                           Product Name     Sales Quantity  \
6498  gbc prepunched paper 19hole for binding system...   135.090        9
6500  gbc prepunched paper 19hole for binding system...    90.060        6
350                                          xerox 1881    24.560        2
352                                          xerox 1881    49.120        4
1300   electrix architects clampon swing arm lamp black   572.760        6
1301   electrix architects clampon swing arm lamp black   286.380        3
9168                                         xerox 1964   319.760       14
9169                                         xerox 1964    45.680        2
7881                   memorex micro travel drive 16 gb    76.752        6
7882                   memorex micro travel drive 16 gb   102.336        8
3183                  adjustable depth letterlegal cart  1633.140        9
3184                  adjustable depth letterlegal cart   544.380        3
3405  global leather highback executive chair with p...   281.372        2
3406  global leather highback executive chair with p...   281.372        2
430   imation secure hardware encrypted usb 20 flash...   408.744        7
431   imation secure hardware encrypted usb 20 flash...   291.960        5

      Discount    Profit  Profit Margin
6498       0.0   62.1414       0.460000
6500       0.0   41.4276       0.460000
350        0.0   11.5432       0.470000
352        0.0   23.0864       0.470000
1300       0.0  166.1004       0.290000
1301       0.0   83.0502       0.290000
9168       0.0  147.0896       0.460000
9169       0.0   21.0128       0.460000
7881       0.2   10.5534       0.137500
7882       0.2   14.0712       0.137500
3183       0.0  473.6106       0.290000
3184       0.0  157.8702       0.290000
3405       0.3  -12.0588      -0.042857
3406       0.3  -12.0588      -0.042857
430        0.2   76.6395       0.187500
431        0.2   54.7425       0.187500

[16 rows x 22 columns]

In [38]:
# Combine partial lines
df_cleaned = df.groupby(['Order ID', 'Product ID'], as_index=False).agg({
    'Order Date': 'first',
    'Ship Date': 'first',
    'Ship Mode': 'first',
    'Customer ID': 'first',
    'Customer Name': 'first',
    'Segment': 'first',
    'Country': 'first',
    'City': 'first',
    'State': 'first',
    'Postal Code': 'first',
    'Region': 'first',
    'Category': 'first',
    'Sub-Category': 'first',
    'Product Name': 'first',
    'Sales': 'sum',
    'Quantity': 'sum',
    'Discount': 'mean',
    'Profit': 'sum'
})

# Recalculate profit margin
df_cleaned['Profit Margin'] = np.where(
    df_cleaned['Sales'] == 0, 0, df_cleaned['Profit'] / df_cleaned['Sales']
)

In [40]:
print(df_cleaned.head())
print(df_cleaned[df_cleaned.duplicated(subset=['Order ID', 'Product ID'])])

         Order ID       Product ID Order Date  Ship Date       Ship Mode  \
0  CA-2014-100006  TEC-PH-10002075   9/7/2014  9/13/2014  standard class
1  CA-2014-100090  FUR-TA-10003715   7/8/2014  7/12/2014  standard class
2  CA-2014-100090  OFF-BI-10001597   7/8/2014  7/12/2014  standard class
3  CA-2014-100293  OFF-PA-10000176  3/14/2014  3/18/2014  standard class
4  CA-2014-100328  OFF-BI-10000343  1/28/2014   2/3/2014  standard class

  Customer ID     Customer Name      Segment        Country           City  \
0     dk13375       dennis kane     consumer  united states  new york city
1     eb13705        ed braxton    corporate  united states  san francisco
2     eb13705        ed braxton    corporate  united states  san francisco
3     nf18475  neil französisch  home office  united states   jacksonville
4     jc15340   jasper cacioppo     consumer  united states  new york city

   ... Postal Code  Region         Category Sub-Category  \
0  ...       10024    east       technology       phones
1  ...       94122    west        furniture       tables
2  ...       94122    west  office supplies      binders
3  ...       32216   south  office supplies        paper
4  ...       10024    east  office supplies      binders

                                        Product Name    Sales  Quantity  \
0                                   att el51110 dect  377.970         3
1            hon 2111 invitation series corner table  502.488         3
2   wilson jones ledgersize pianohinge binder 2 blue  196.704         6
3                                         xerox 1887   91.056         6
4  pressboard covers with storage hooks 9 12 x 11...    3.928         1

   Discount    Profit  Profit Margin
0       0.0  109.6113         0.2900
1       0.2  -87.9354        -0.1750
2       0.2   68.8464         0.3500
3       0.2   31.8696         0.3500
4       0.2    1.3257         0.3375

[5 rows x 21 columns]
Empty DataFrame
Columns: [Order ID, Product ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Profit Margin]
Index: []

[0 rows x 21 columns]

In [42]:
#Check categorical consistency
print(df['Segment'].unique())
print(df['Category'].unique())
print(df['Sub-Category'].unique())
print(df['Ship Mode'].unique())

['consumer' 'corporate' 'home office']
['furniture' 'office supplies' 'technology']
['bookcases' 'chairs' 'labels' 'tables' 'storage' 'furnishings' 'art'
 'phones' 'binders' 'appliances' 'paper' 'accessories' 'envelopes'
 'fasteners' 'supplies' 'machines' 'copiers']
['second class' 'standard class' 'first class' 'same day']

In [50]:
df_cleaned.to_csv("superstore_cleaned.csv", index=False)

In [52]:
df_cleaned.to_csv("superstore_cleaned.csv", index=False, encoding='utf-8-sig')